<h1>
    <%= title %>
</h1>
<div class="btn-group pull-right">
    <button type="button" class="btn btn-default">
        <a href="/posts/create">新建</a>
    </button>
</div>
<br>
<p>Welcome to
    <%= title %>
</p>

<div id="anchor">
    <ul class="list-group" v-for="item in postsList">
        <li class="list-group-item">
            <a v-bind:href="item.url">{{ item.title }}</a>
        </li>
    </ul>
</div>

<script>
    var vm = new Vue({
        el: '#anchor',
        data: {
            postsList: []
        },
        methods: {
            fetchData() {
                axios.get('/api/v1/posts')
                    .then(response => {
                        vm.postsList = response.data.postsList;
                        vm.postsList.forEach((ele) => ele.url = '/posts/show?id=' + ele._id);
                        //  vm.postsList.forEach((element) => element.url = '/posts/show?id=' + element._id);
                    })
                    .catch(function(err){
                        alert(err);
                    })
            }
        }
    })

    vm.fetchData();
</script>

</html>