<div class="btn-group pull-right">
    <button type="button" class="btn btn-default">
        <a href="/post/edit/<%= post._id %>">修改文章</a>
    </button>
</div>
<div id="app">
    <h1>
        <%= post.title %>
    </h1>
    <div>
        <%- post.content %>
    </div>
</div>